*
  box-sizing: border-box
  margin: 0
  padding: 0

body, html
  height: 100%
  width: 100%

body
  font-family: $font-family
  font-size: $font-size-base
  color: $color-black
  @media screen and (max-width: 320px)
    font-size: $font-size-small

#app
  height: 100vh
  width: 100vw
  background: $color-white
  box-shadow: 0 0 10px rgba(0,0,0,0.1)
  border-radius: $border-radius
  overflow: hidden
  @media screen and (min-width: 768px)
    max-height: 812px
    max-width: 414px
    margin: auto

a
  font: inherit
  color: inherit
  text-decoration: inherit

h1, h2, h3, h4
  font-weight: 600

h1
  text-align: center

p
  text-align: center

.page
  height: 100%
  width: 100%
  padding: 0 0.5rem